* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    --background-color: #000;
    --pure-background: #000;
    --color: #fff;
    --scroll-color: #a3a3a3;
    font-size: 16px;

    /* scroll bar on X-axis */
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--pure-background);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scroll-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--box-color);
}

/* ======== applied to all anchor tags ======== */
a {
    color: #000;
    text-decoration: none;
}

/* =============== end ============= */
